In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Binarizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('D:\\100 days of ML\Feature_Engineering\\bining.csv',usecols=['Age','Fare','Survived','Parch','SibSp'])
df.sample(5)

<>:1: SyntaxWarning: invalid escape sequence '\F'
<>:1: SyntaxWarning: invalid escape sequence '\F'
C:\Users\Harsh\AppData\Local\Temp\ipykernel_13784\2799614025.py:1: SyntaxWarning: invalid escape sequence '\F'
  df = pd.read_csv('D:\\100 days of ML\Feature_Engineering\\bining.csv',usecols=['Age','Fare','Survived','Parch','SibSp'])

     Survived   Age  SibSp  Parch      Fare
567         0  29.0      0      4   21.0750
260         0   NaN      0      0    7.7500
325         1  36.0      0      0  135.6333
812         0  35.0      0      0   10.5000
386         0   1.0      5      2   46.9000

In [6]:
df.dropna(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Age       714 non-null    float64
 2   SibSp     714 non-null    int64
 3   Parch     714 non-null    int64
 4   Fare      714 non-null    float64
dtypes: float64(2), int64(3)
memory usage: 33.5 KB

In [8]:
df['Family'] = df['Parch'] + df['SibSp']
df.drop(columns=['Parch','SibSp'],inplace=True)
df.head()

   Survived   Age     Fare  Family
0         0  22.0   7.2500       1
1         1  38.0  71.2833       1
2         1  26.0   7.9250       0
3         1  35.0  53.1000       1
4         0  35.0   8.0500       0

In [9]:
X = df.drop(columns='Survived')
Y = df['Survived']

In [18]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [11]:
X_train.head()

      Age     Fare  Family
328  31.0  20.5250       2
73   26.0  14.4542       1
253  30.0  16.1000       1
719  33.0   7.7750       0
666  25.0  13.0000       0

# Without Binarization

In [12]:
clf = DecisionTreeClassifier()
clf.fit(X_train,Y_train)
Y_pred = clf.predict(X_test)
accuracy_score(Y_test,Y_pred)

0.6223776223776224

In [13]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,Y,cv=15,scoring='accuracy'))

np.float64(0.6233747044917257)

In [21]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['Family'])
],remainder='passthrough')

In [20]:
X_train.columns

Index(['Age', 'Fare', 'Family'], dtype='object')

In [22]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [23]:
pd.DataFrame(X_train_trf,columns=['family','Age','Fare'])

     family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [24]:
pd.DataFrame(X_train,columns=['Family','Age','Fare'])

     Family   Age      Fare
328       2  31.0   20.5250
73        1  26.0   14.4542
253       1  30.0   16.1000
719       0  33.0    7.7750
666       0  25.0   13.0000
..      ...   ...       ...
92        1  46.0   61.1750
134       0  25.0   13.0000
337       0  41.0  134.5000
548       2  33.0   20.5250
130       0  33.0    7.8958

[571 rows x 3 columns]

# 🔹 Binarization in Machine Learning

## 📝 Simple Definition
**Binarization** = converting values into **two categories (0 or 1)**, based on a **threshold** or a **condition**.  

👉 Instead of keeping all possible values, you turn the feature into *yes/no*, *present/absent*, or *above/below threshold*.

---

## 🔧 How it Works
- Pick a **threshold** (default = `0.0` in scikit-learn’s `Binarizer`)  
- If value > threshold → `1`  
- Else → `0`  

**Example:**  
[1.5, -0.3, 2.7, 0.0]

With threshold = 0 →  
[1, 0, 1, 0]


---

## 🎯 Why Do We Use Binarization?
- ✅ **Simplify features** → convert continuous features into binary form  
- ✅ **Highlight presence/absence** → useful in text processing (“word present?”)  
- ✅ **Normalize values for some models** → e.g., logistic regression, neural networks  
- ✅ **Capture simple rules** → e.g., “Is age > 30?” instead of raw age values  

---

## ⚠️ Disadvantages
- ❌ **Information loss** → a whole range of values collapses into 0/1  
- ❌ **Threshold selection matters** → wrong choice = poor model performance  
- ❌ **Oversimplification** → may hide useful patterns in the data  

---

## 📦 Example in Scikit-Learn
```python
from sklearn.preprocessing import Binarizer
import numpy as np

X = np.array([[1.5], [-0.3], [2.7], [0.0]])

# Apply binarization
binarizer = Binarizer(threshold=0.0)
X_bin = binarizer.fit_transform(X)

print(X_bin)

Output:
[[1]
 [0]
 [1]
 [0]]
 ```

## 🧠 Shortcut Definition

Binarization = “turning numeric values into 0/1 based on a threshold so that the model sees them as yes/no features.”