In [5]:
#This is the feature of Sklearn library which is used to convert categorical variables into a format that can be provided to ML algorithms to do a better job in prediction.

#It creates a binary column for each category and returns a sparse matrix or dense array.

#It is useful when you have categorical variables with no ordinal relationship.

In [6]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

# Load the dataset

In [7]:
df = pd.read_csv('D:\\100 days of ML\Feature_Engineering\covid_toy.csv')

<>:1: SyntaxWarning: invalid escape sequence '\F'
<>:1: SyntaxWarning: invalid escape sequence '\F'
C:\Users\Harsh\AppData\Local\Temp\ipykernel_10596\3922535142.py:1: SyntaxWarning: invalid escape sequence '\F'
  df = pd.read_csv('D:\\100 days of ML\Feature_Engineering\covid_toy.csv')

In [8]:
df.shape

(100, 6)

In [9]:
df.sample(5)

    age  gender  fever   cough       city has_covid
13   64    Male  102.0    Mild  Bangalore       Yes
57   49  Female   99.0  Strong  Bangalore        No
93   27    Male  100.0    Mild    Kolkata       Yes
92   82  Female  102.0  Strong    Kolkata        No
65   69  Female  102.0    Mild  Bangalore        No

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [11]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
X_train,X_test,Y_train,Y_test = train_test_split(df.drop('has_covid',axis=1),df['has_covid'],test_size=0.2)

In [13]:
X_train

    age  gender  fever   cough       city
51   11  Female  100.0  Strong    Kolkata
12   25  Female   99.0  Strong    Kolkata
74   34  Female  104.0  Strong      Delhi
49   44    Male  104.0    Mild     Mumbai
47   18  Female  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
3    31  Female   98.0    Mild    Kolkata
81   65    Male   99.0    Mild      Delhi
66   51    Male  104.0    Mild    Kolkata
29   34  Female    NaN  Strong     Mumbai
19   42  Female    NaN  Strong  Bangalore

[80 rows x 5 columns]

In [24]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [15]:
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_encoded = oe.fit_transform(X_train[['cough']])


X_test_encoded = oe.transform(X_test[['cough']])

In [16]:
X_test_encoded.shape

(20, 1)

In [17]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [18]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [19]:

X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_encoded),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_encoded),axis=1)

X_train_transformed.shape

(80, 7)

In [20]:

from sklearn.compose import ColumnTransformer

In [21]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [22]:
transformer.fit_transform(X_train).shape

(80, 7)